@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --back--color: #F5F5F5;
    --top--back: #3F2305;
}

* {
    margin: 0;
    padding: 0 !important;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--back--color);
}

.container1 {
    position: relative;
    width: 21cm;
    max-width: 950px !important;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 0.1);
}

.header-left {
    margin-bottom: 1.2rem;
}

.inline-left {
    margin-left: 1.9rem;
    padding-left: 1.9rem !important;

}

.inline-left h4 {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
    font-size: 1rem;
    margin-bottom: 0.6rem;
}

.inline-left h4::after {
    content: "";
    border-top: 1px solid white;
    align-self: center;
}

.inline-left #cc-info2 {
    font-size: 0.6rem;
}

.inline-left p {
    font-size: 0.7rem;

}

.contact-info,
.profe-info {
    margin-bottom: 3rem;
}

.text-font {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding: 20px 0 !important;

}

.text-font small {
    font-size: 1.5rem;
}

.right-cont {
    display: grid;
    grid-template-columns: 3fr 0.5fr;
    gap: 1rem;
    margin-bottom: 1rem;
}

.edu-info {

    font-weight: bold;
}

.custom-cont {

    margin-bottom: 0;
}

.right-cont2 {
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    gap: 0.7rem;
    margin-bottom: 1rem;
}

.proj-cont {
    text-align: justify;
}


.add-info {
    margin-bottom: 1.5rem;
}

svg {

    width: 0.5rem;
}

.cert-info {
    margin-left: 1rem;

}

@media (max-width:1200px) {
    .cert-info {

        margin-left: 0.6rem;
    }

    .right-cont2 {
        margin-bottom: 1rem;
    }
}

@media (max-width:991px) {
    .inline-left {
        margin-left: 1.7rem;
        padding-left: 1.7rem !important;
    }

    .inline-left #cc-info2 {
        font-size: 0.6rem;
    }
}

@media (max-width:812px) {
    .container1 {
        margin: 0 !important;
    }

    .inline-left {
        margin-left: 1.5rem;
        padding-left: 1.5rem !important;
    }
}

@media (max-width:729px) {
    .header-left {
        margin-bottom: 2rem;
    }

    .header-img {
        width: 50px !important;
    }

    .inline-left {
        margin-left: 1.4rem;

    }

    .inline-left h4 {
        font-size: 15px;
        gap: 0.6em;
    }

    .inline-left #cc-info {
        font-size: 0.7rem;
    }

    .heading1 {
        font-size: 20px !important;
        font-weight: 500 !important;
        margin-bottom: 0 !important;
    }

    .text-font {
        padding: 7px 0 !important;
    }

    .edu-info,
    .custom-cont {
        font-size: 0.9rem;
    }


    .right-cont2 {
        margin-bottom: 0;
    }

    #small {
        font-size: 0.8rem;
    }

    svg {
        width: 0.4rem;
    }

    .cert-info {
        font-size: 0.9rem;
        margin-left: 0.5rem;
    }
}

@media (min-width:558px) and (max-width:616px) {
    .container1 {
        margin: 0 !important;
    }

    .inline-left {
        margin-left: 1rem;
        padding-left: 1rem !important;
    }

    .inline-left h4 {
        font-size: 15px;
        gap: 0.5rem;
    }

    .inline-left #cc-info {
        font-size: 0.6rem;
    }

    .inline-left #cc-info2 {
        font-size: 0.5rem;
    }

    .inline-left p {

        font-size: 0.7em;
    }

    #padd1 {
        padding: 10px 10px !important;
    }


    .heading1 {
        font-size: 18px !important;
    }

    .header-left {
        margin-bottom: 3rem;
    }


    .text-font {
        padding: 5px 0 !important;
        letter-spacing: 0.04em;
    }

    .right-cont {
        grid-template-columns: 3fr 0.6fr;
    }

    .right-cont2 {
        grid-template-columns: 2fr 0.7fr;
    }

    #nopadd {
        margin-bottom: 0;
    }

    #nopadd2 {
        margin-bottom: 0.5rem !important;
    }

    .proj-cont {
        font-size: 0.8rem;
    }

    .edu-info {
        font-size: small;
        /* line-height: 0.5em !important; */
    }

    .custom-cont {
        font-size: 13px;
    }

    #small {
        font-size: 12px;
    }

    .cert-info {
        font-size: 0.8rem;

    }
}

@media (min-width:481px) and (max-width:557px) {
    .container1 {
        min-height: 945px;
    }

    .inline-left {
        margin-left: 0.9rem;
        padding-left: 0.9rem !important;
    }

    .inline-left h4 {
        gap: 0.5em;
    }

    .inline-left #cc-info {
        font-size: 0.6rem;
    }

    .inline-left .ps-4 {
        padding-left: 10px !important;
    }

    .inline-left #cc-info2 {
        font-size: 0.5rem;
    }

    .inline-left p {
        font-size: 0.6rem;
    }

    .text-font,
    .text-font small {
        font-size: 20px;
    }

    .proj-cont {
        font-size: 0.8rem;
    }

    .proj-cont.pb-2 {
        padding-bottom: 0px !important;
    }

    .heading1 {
        font-size: 18px !important;
    }

    .edu-info {
        font-size: small;
    }

    .custom-cont {
        font-size: 0.8rem;
    }

    #small {
        font-size: 0.7rem;
    }

    #nopadd {
        margin-bottom: 0;
    }

    #nopadd2 {
        margin-bottom: 0.5rem !important;
    }

    #padd1 {
        padding: 10px 10px !important;
    }

    .add-info {
        margin-bottom: 1rem;
        line-height: 1rem;
    }

    svg {
        width: 0.3rem;
    }

    .cert-info {
        font-size: 0.7rem;
        margin-left: 0.5rem;
    }

    .right-cont {
        margin-bottom: 0.5rem;
        line-height: 1rem;
    }
}

@media (max-width:480px) {
    .inline-left {
        margin-left: 0.7rem;
        padding-left: 0.8rem !important;
    }

    .inline-left h4 {
        font-size: 14px;
        gap: 0.4em;
    }

    .inline-left #cc-info2 {
        font-size: 0.5rem;
    }

    .inline-left .ps-4 {
        padding-left: 10px !important;
    }

    .text-font,
    .text-font small {
        font-size: 18px;
    }

    .proj-cont {
        font-size: 0.8rem;
    }

    .proj-cont.pb-2 {
        padding-bottom: 0px !important;
    }

    #nopadd2 {
        margin-bottom: 0.3rem !important;
    }

    .text-font {
        margin-bottom: 0;
    }

    .heading1 {
        font-size: 16px !important;

    }

    .hr1 {
        margin-top: 2px !important;
    }

    .edu-info {
        font-size: 0.8rem;
    }

    .custom-cont {
        font-size: 0.7rem;
    }

    #small {
        font-size: 0.6rem;
    }

    .right-cont2 {
        line-height: 1rem;
        margin-bottom: 0.2rem;
    }


    .add-info {
        margin-bottom: 1rem;
        line-height: 1rem;
    }

    svg {
        width: 0.3rem;
    }

    .cert-info {
        font-size: 0.7rem;
        margin-left: 0.5rem;
    }

    .right-cont {
        margin-bottom: 0.5rem;
        line-height: 1rem;
    }
}

@media (max-width:400px) {
    .inline-left {
        margin-left: 0.6rem;
        padding-left: 0.7rem !important;
    }

    .inline-left h4 {
        font-size: 13px;
    }

    .inline-left p {
        font-size: 0.6rem;
    }

    .inline-left .ps-4 {
        padding-left: 9px !important;
    }

    #padd1 {
        padding: 11px 10px !important;
    }

    .text-font,
    .text-font small {
        font-size: 17px;
    }

    .proj-cont {
        font-size: 0.7rem;
    }

    #nopadd2 {
        margin-bottom: 0.4rem !important;
    }

    .edu-info {
        font-size: 0.7rem;
    }

    .custom-cont {
        font-size: 0.6rem;
    }

    #small {
        font-size: 9px;
    }

    .right-cont2 {
        margin-bottom: 0.3rem;
    }
}